hr{
	border-color: #000000;
}
.imagen1{
	width: auto;
	height: auto;
}
.imagen2{
	width: 500px;
	height: 500px;
	margin: auto;
	display: block;
}
.login{
	padding: 10px;
	border: 1px solid #000;
	position: absolute;
	top: 0;
	right: 0;
}
/*.contenedor{
	background-color: #5ce4a0;
	padding: 1em;
}*/
.item{
	margin: 1em;
	padding: 1em;
	color: #ffffff;
	float: left;
}
#item1{
	background-color: #a05ce4
}
#item2{
	background-color: #a06ce4
}
#item3{
	background-color: #a04ce4
}
h2{
	font-family: 'Arial';
	font-weight: bold;
	font-size: 2em;
}
#CrearPersonaje{
	float: right;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}