* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background : url(../img/fondo.jpg..) no-repeat center top ;
    background-size: cover;
    height: 100vh;  
}

h1{
    padding: 30px 30px;
    color: rgb(0, 0, 0);
}

.login-box{
    width: 400px;
    height: 550px;
    background-color: #debbff;
    color:#010113;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-40%,-40%);
    box-sizing: border-box;
    padding: 10px 30px;
}

#avatar{
    width: 100%;
    border-radius: 50%;
}

.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box.label{
    margin: 0;
    padding:0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"]
.login-box input[type="password"]{
    border : none;
    border-bottom: 1px solid #fff;
    background:transparent;
    outline: none;
    height: 40px;
    color:#fff;
    font-size: 16px;
}

.login-box input[type="submit"]{
    border : none;
    outline: none;
    height: 40px;
    background:	#593fcc;
    color:#fff;
    font-size: 18px;
    border-radius:20px;
}

.login-box input[type="submit"]:hover {
    background-color: #5200b1;
    transition: ease-in-out;
    transition-duration: 200ms;
}
