body {
	margin: 0;
	background-color: rgb(44, 44, 44);
}

ul {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
}

.logo{
	height: 50px;
	margin: 8px 15px 8px 0;
	float: left;
}
.imagen2{
	width: 500px;
	height: 500px;
	margin: auto;
	display: block;
}

.topbar-cont {
	background-color: #fff;
	padding: 0 8%;
	border-bottom: 4px solid #000;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.topbar {
	font-family: 'Arvo', serif;
	font-weight: 500;
	font-size: 16px;
	height: 70px;
}

.topbar nav {
	float: left;
}

.topbar li {
	display: inline-block;
}

.topbar ul {
	display: flex;
	justify-content: space-between;
}

.topbar nav a {
	padding: 6px 10px;
	text-decoration: none;
	cursor: pointer;
	color: #000;
	margin: 18px 5px;
}

.topbar nav a:hover {
	transition: ease-in-out;
	transition-duration: 100ms;
	border-bottom: 4px solid #000;
	/*outline: 4px solid #000;*/
	color: rgb(255, 0, 0);
}

.boton {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	padding: 10px;
	margin: 10px 5px;
	border: 4px solid rgb(0, 0, 0);
	background-color: #fff;
	width: 140px;
	text-align: center;
	cursor: pointer;
	color: #000;
	float: right;
}

.boton:hover {
	background-color: rgb(255, 37, 37);
	transition: ease-in-out;
	transition-duration: 200ms;
	color: #fff;
}

.botonLogout{
	float: right;
	height: 100px;  	
	width: 100px;
}

.contenedor{
	display: flex;
	flex-flow: row nowrap;
}
.item{
	margin: 1em;
	padding: 1em;
	color: #ffffff;
}
#item1{
	background-color: #a7dcff;
	color:#010113;
	flex-grow: 1;
}
#item2{
	background-color: #a7dcff;
	color:#010113;
	flex-shrink: 2;
}
#item3{
	background-color: #a7dcff;
	color:#010113;
	flex-grow: 7;
}
h2{
	font-family: 'Arial';
	font-weight: bold;
	font-size: 2em;
}

table {
  background-color: #FFFFFF; 
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: solid 1px #000000;
  text-align: left;
  padding: 10px;
}

.content {
	display: flex;
	margin: 0 18% 10px 18%;
	font-family: 'Open Sans', sans-serif;
}

.col {
	margin: 0 5px;
	padding: 5px 30px;
	width: 100%;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0px 0px 4px -3px rgba(0,0,0,0.75);
}

.publicar {
	margin: 0 0 20px 0;
	padding: 20px 0;
	border-bottom: 6px solid #000;
}

.publicar h3 {
	padding: 5px 15px;
	background-color: rgb(160, 0, 0);
	color: #fff;
	width: 60%;
	margin: 0 0 10px 0;
}

.publicar label {
	font-size: 14px;
	font-weight: 700;
	width: 20%;
}

.publicar input {
	width: 10%;
	font-size: 14px;
	height: 25px;
	padding: 0 10px;
	border: none;
	border-bottom: 3px solid #ccc;
}

.publicar textarea {
	width: 98%;
	font-size: 14px;
	height: 20px;
	padding: 5px 10px;
	border: 2px solid #aaa;
}

.publicar textarea:focus {
	height: 100px;
	transition: 100ms ease-in-out all;
	border: 2px solid #000;
}

.publicar input:focus {
	border: none;
	border-bottom: 4px solid #000;
	width: 70%;
	transition: 200ms ease-in-out all;
}

#lblperso {
	display: block;
}

#lblfecha {
	width: 10%;
}

#titulo {
	font-weight: 700;
	display: block;
}

#personaje {
	display: block;
}

#fecha:focus {
	border-bottom: 2px solid #000;
	width: 15%;
}

.publicar label, .publicar input {
	margin: 5px 0;
}

.relleno {
	height: 500px;
}

.clear {
	height: 35px;
}

/*
.publis {
	width: 60%;
}

.der {
	width: 30%;
}

.relleno {
	height: 500px;
}
*/


/*FOOTER***************************/

footer {
	font-family: Rubik, sans-serif;
	height: 80px;
	width: 100%;
	background-color: rgb(7, 7, 7);
	color: #fff;
}

footer span {
	width: 100%;
	display: block;
	text-align: center;
}