hr{
	border-color: #000000;
}
.imagen1{
	width: auto;
	height: auto;
}
.imagen2{
	width: 500px;
	height: 500px;
	margin: auto;
	display: block;
}
.login{
	padding: 10px;
	border: 1px solid rgb(54, 81, 133);
	background-color: rgb(0, 46, 199);
	float: right;
	width: 140px;
	text-align: center;
	cursor: pointer;
	color: white;
	font-weight: bold;
}

.login:hover {
	background-color: rgb(93, 93, 255);
	transition: ease-in-out;
	transition-duration: 200ms;
}

.topbar a {
	text-decoration: none;
	cursor: pointer;
	color: white;
}

.contenedor{
	display: flex;
	flex-flow: row nowrap;
}
.item{
	margin: 1em;
	padding: 1em;
	color: #ffffff;
}
#item1{
	background-color: #a7dcff;
	color:#010113;
	flex-grow: 1;
}
#item2{
	background-color: #a7dcff;
	color:#010113;
	flex-shrink: 2;
}
#item3{
	background-color: #a7dcff;
	color:#010113;
	flex-grow: 7;
}
h2{
	font-family: 'Arial';
	font-weight: bold;
	font-size: 2em;
}

table {
  background-color: #FFFFFF; 
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: solid 1px #000000;
  text-align: left;
  padding: 10px;
}