

body {
	margin: 0;
	background-color: #eee;
}
/*para la imagen */
#avatar{
    width: 35%;
    border-radius: 50%;
    /*border: 1px solid;   borde a la imagen*/
    display: block;      /*usado para centrar imagen*/
    margin-left: auto;   /*usado para centrar imagen*/
    margin-right: auto;  /*usado para centrar imagen*/
}
/**************************/

/* ESTILOS DE LA TOPBAR *******************************/
ul {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
}

.logo{
	height: 50px;
	margin: 8px 15px 8px 0;
	float: left;
}

.topbar-cont {
	background-color: #fff;
	padding: 0 8%;
	border-bottom: 4px solid #000;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.topbar {
	font-family: 'Arvo', serif;
	font-weight: 500;
	font-size: 16px;
	height: 70px;
}

.topbar nav {
	float: left;
	height: 25px;
	margin: 22px 0;
}

.topbar li {
	display: inline-block;
}


.topbar nav a {
	padding: 6px 10px;
	text-decoration: none;
	cursor: pointer;
	color: #000;
	margin: 18px 5px;
}

.topbar nav a:hover {
	transition: ease-in-out;
	transition-duration: 100ms;
	border-bottom: 4px solid #000;
	/*outline: 4px solid #000;*/
	color: rgb(255, 0, 0);
}

.boton {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	padding: 10px;
	margin: 15px 5px;
	border: none;
	background-color: #444;
	width: 140px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	float: right;
	border-radius: 4px;
}

.boton:hover {
	background-color: rgb(255, 37, 37);
	transition: ease-in-out;
	transition-duration: 200ms;
	color: #fff;
}

.bienvenido {
	font-family: 'Open Sans', sans-serif;
	margin: 12px 10px;
	padding: 10px 20px 10px 20px;
	color: #000;
	border-radius: 30px;
	box-shadow: none;
	border: 2px solid black;
	background-color: #fff;
}

.bienvenido:hover {
	cursor: pointer;
	color: #fff;
	background-color: rgb(68, 68, 68);
	transition: 200ms ease-in-out all;
}

.bienvenido span {
	font-size: 1.1em;
	font-weight: 700;
	padding-left: 5px;
	position: relative;
	bottom: 5px;
}

/*************************************************************/
/***ABOUT US*************/
.contenedor-texto{
	grid-area: texto;
  	margin-right: 5px;
	margin-left: 15px;
  	text-align: justify;
}

.grid-info{
	grid-area: texto;
  	margin: auto;
  	text-align: justify;
}

.grid-info img {
	grid-area: imagen;
  	width: 60%;
  	margin: auto;
}

@media screen and (min-width: 768px) {
  	.grid-info {
    		display: grid;
    		grid-template-areas: "texto imagen";
    		grid-template-columns: 50% 50%;
    		grid-gap: 30px;
  	}
}


/****REDES SOCIALES****/
.contenedor-redes a{
	display: inline;
	margin-right:5px;
	margin-left:5px;
	font-size:1.2rem;
}

.contenedor-redes a:hover{
color: var(--secundario);
}

/**********************/

.botonLogout{
	float: right;
	height: 100px;  	
	width: 100px;
}

.contenedor{
	/*display: flex;*/
	flex-flow: row nowrap;
	margin: 0 auto;
	width: 50%;/*centrar*/
}
.item{
	margin: 1em;
	padding: 1em;
	color: #ffffff;
	/*border: 1px solid;    notar borde*/
	border-radius: 1%;/*borde redondeado*/
}
/*resaltar en rojo*/
.item h2 {
	padding: 5px 15px;
	background-color: rgb(160, 0, 0);
	color: #fff;
	width: 60%;
	margin: 0 0 10px 0;
}
/*******************/
#item1{
	columns: 2;/*para dividir*/
	background-color: #ffffff;
	color:#010113;
	flex-grow: 1;
}
#item4{
	background-color: #ffffff;
	color:#010113;
	flex-grow: 2;
}
h2{
	font-family: 'Arial';
	font-weight: bold;
	font-size: 2em;
}

table {
  background-color: #FFFFFF; 
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: solid 1px #000000;
  text-align: left;
  padding: 10px;
}

.content {
	display: flex;
	margin: 0 18% 10px 18%;
	font-family: 'Open Sans', sans-serif;
}

.col {
	margin: 0 5px;
	padding: 5px 30px;
	width: 100%;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0px 0px 4px -3px rgba(0,0,0,0.75);
}

.publicar {
	margin: 0 0 20px 0;
	padding: 20px 0;
	border-bottom: 6px solid #000;
}

.publicar h3 {
	padding: 5px 15px;
	background-color: rgb(160, 0, 0);
	color: #fff;
	width: 60%;
	margin: 0 0 10px 0;
}

.publicar label {
	font-size: 14px;
	font-weight: 700;
	width: 20%;
}

.publicar input {
	width: 10%;
	font-size: 14px;
	height: 25px;
	padding: 0 10px;
	margin: 15px 0;
	border: none;
	border-bottom: 3px solid #ccc;
}

.publicar textarea {
	width: 98%;
	font-size: 14px;
	height: 20px;
	padding: 5px 10px;
	border: 2px solid #aaa;
	font-family: 'Open Sans', sans-serif;
}

.publicar textarea:focus {
	height: 100px;
	transition: 100ms ease-in-out all;
	border: 2px solid #000;
}

.publicar input:focus {
	border: none;
	border-bottom: 4px solid #000;
	width: 70%;
	transition: 200ms ease-in-out all;
}

.publicar input:hover {
	border-bottom: 4px solid rgb(0, 0, 0);
	transition: 200ms ease-in-out all;
}

.publicar input[type=radio] {
	margin: 0;
	width: 20px;
}

#bueno, #malo {	height: 10px; margin: 10px;}
label[for="bueno"], label[for="malo"] {font-weight: 500; margin-top: 10px;}

#titulo {
	font-weight: 700;
	display: block;
}

#personaje {display: none; margin: 0;}

#personaje-select {display: none; margin: 0;}

#fecha {
	margin:0;
	width: 10%;
	display: block;
}

.perso {
	height: 15px;
}

.nuevo, .seleccionar {
	float: none;
}

#fecha:focus {
	border-bottom: 2px solid #000;
	width: 15%;
}
#lblfecha {width: 50px;}
.clear {height: 35px;}


/*PUBLICACIONES ESTILOS********************/
.publicacion {
	border-bottom: 2px solid #aaa;
	padding-top: 20px;
	border-right: 4px solid rgb(145, 0, 0);
}

.publicacion h3{
	font-size: 1.3em;
	margin: 10px 0;
}

.publicacion span {
	font-size: 0.8em;
}

.username-publi {
	color: crimson;
	font-weight: bold;
}

.info-publi {
	text-align: justify;
	text-justify: auto;
	font-size: 1em;
}

.fuentes-lbl {
	display: block;
	margin: 10px 0;
	font-weight: bold;
}

.fuente-title {
	display: block;
}

.fuente-publi a {
	font-size: 0.8em;
}

.flex-body-publi {
	display: flex;
	align-items: flex-start;
}

.publi-body-col1{ margin: 0; padding: 0 20px 10px 5px;}
.publi-body-col2{ 
	width: 25%; 
	padding: 20px 20px; 
	background-color: rgb(78, 0, 0);
	color: #fff;
	font-family: 'Roboto Slab';
	border-radius: 25px 0 0 25px;
}
.publi-body-col2 img {
	border-radius: 5px;
}


.relleno {
	height: 200px;
}


/*FOOTER***************************/

footer {
	font-family: Rubik, sans-serif;
	height: 80px;
	width: 100%;
	background-color: rgb(7, 7, 7);
	color: #fff;
}

footer span {
	width: 100%;
	display: block;
	text-align: center;
}
