html {
    height: 100%;
}


*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddd;
    height: 100%;
}

h1{ 
    font-family: Verdana, serif;
    text-align: center;
    font-weight: 700;
    font-size: 24px;

}

.login-content {
    width: 450px;
    height: 100%;
}

form {
    background-color: #fff;
    width: 100%;
    height: 550px;
    padding: 60px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(56, 56, 56, 0.8);
}

@media (max-width: 700px) {
    form {
        height: 100%;
        width: 100%;
        box-shadow: none;
    }
    .login-content {
        height: 100%;
        width: 100%;
    }
}

form .grupo{
    position: relative;
    margin: 45px;
    
    
}
input{
    background:  none;
    color : #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 3px solid #000;

}

input:hover {
    border-bottom: 3px solid rgb(255, 2, 2);
    transition: 200ms ease-in-out all;
}

input:focus{
    outline: none;
    color:#5e5d5d;

}
label{
    color: #aaa;
    font-size: 16px;
    position: absolute;
    bottom:0;
    left: 5px;
    top: 10px;
    transition:0.25s ease-in-out all;
    pointer-events:  none;

}
input:focus~label,
input:valid~label{
    top:-24px;

    font-size: 14px;
    color: #4e0000;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom :0;
    position: absolute;
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    transition: 0.3s ease with;
    left:0;
}

input:focus~.barra::before{
width: 100%;

}

#login{
    font-family: 'Open Sans', sans-serif;
    border: none;
    display: block;
    width: 80%;
    margin:10px auto;
    background-color: #444;
    color : #fff;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 6px;
}

#login:hover {
    background-color: rgb(133, 0, 0);
    color: #fff;
    transition: 300ms ease-in-out all;
}

.extra {margin-top: 20px;}

.extra a {
    color: rgb(109, 109, 255);
    font-size: 12px;
    text-decoration: none;
    display: block;
    margin: 0 30px;
    margin-top: 10px;
}

.extra a:hover {
    color: blue;
}

.validar {
    font-size: 12px;
    margin: 20px 40px;
}

/*AÑADIDOS LOS ESTILOS PARA EL DIV DE ERRORES*/

