/*Le cambie la fuente a todo temporalmente*/
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    padding: 30px 30px;
    color: rgb(0, 0, 0);
    margin: 0;
}

.login-box{
    width: 400px;
    height: 620px;
    background-color: #a7dcff;
    color:#010113;
    top:45%;
    left: 50%;
    position: absolute;
    transform: translate(-40%,-40%);
    box-sizing: border-box;
    padding: 10px 30px;
    border-radius: 25px;
}

#avatar{
    width: 35%;
    border-radius: 50%;
    /*border: 1px solid;   borde a la imagen*/
    display: block;      /*usado para centrar imagen*/
    margin-left: auto;   /*usado para centrar imagen*/
    margin-right: auto;  /*usado para centrar imagen*/
}

.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box.label{
    margin: 0;
    padding:0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    border:none;
    border-bottom: 3px solid #0031b9;
    box-shadow: none;
    border-radius: 5px;
    height: 30px;
}
.login-box input[type="text"] {
    margin-bottom: 20px;
}

.login-box button{
    border : none;
    outline: none;
    height: 40px;
    background:	#0031b9;
    color:#fff;
    font-size: 18px;
    border-radius:20px;
    cursor: pointer;
    width: 100%;
}

.login-box button:hover {
    background-color: #4981fa;
    transition: ease-in-out;
    transition-duration: 200ms;
}

/*AÑADIDOS LOS ESTILOS PARA EL DIV DE ERRORES*/
#msg {
    height: 50px;
    color: #a80000;
    padding: 10px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
