{% extends "header.html" %}

{% block content %}
<div class="admin-rep-container container-fluid container-md shadow-lg bg-light">
    <h1>Administrar Reportes</h1>
    <main>
        <h3>Publicaciones reportadas</h3>
        <div class="publicacion">
            <div>
                <span>N° Reportes: 100</span>
            </div>
            <div class="row m-0 p-0">
                <div class="col-7">
                    
                    <span class="username-publi pl-2">Username</span>
                </div>
                <div class="col-5 d-flex justify-content-end">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-dark">Ignorar</button>
                        <button type="button" class="btn btn-outline-danger">Eliminar</button>
                    </div>
                </div>
            </div>
            
			<div class="" >
				
					<h3 style="font-family: 'Roboto Slab';">Fiscalía recibirá en dos semanas información patrimonial de Keiko Fujimori y su esposo</h3>
                        
                    <div>
                        <span class="fecha-lbl">
                            Fecha de publicación: <span class="fecha-publi">99/99/9999</span>
                        </span>
                    </div>
			
				
                    <div class="" >
                        <span>Personaje: </span>
						<span class="nombre-perso pl-2" style="color: rgb(145, 0, 0); font-weight: 700;">
							Keiko Fujimori
						</span>
					</div>
				

			</div>


			<div class="media m-0 p-0" style="align-items: center;">
				<div class="media-body publi-body-col1">

					<div class="info-publi">
						El fiscal José Domingo Pérez, del Equipo Especial Lava Jato, tiene previsto recibir el 17 de agosto el dictamen pericial del patrimonio de Keiko Fujimori y Mark Vito Villanela, ambos investigados por el presunto delito de lavado de activos en modalidad de organización criminal en el caso Odebrecht. Así lo revela la disposición fiscal N° 166 a la que accedió Gestión. Como se recuerda, Pérez ordenó el 17 de diciembre del año pasado una pericia contable al patrimonio de los esposos Villanella Fujimori del periodo 1 de enero de 2010 al 30 de noviembre de 2019. 
					</div>
				</div>


			</div>
			<div class="fuente-publi m-0 p-0 mb-3">
				<div class="col-12 p-0">
					<span class="fuentes-lbl">Fuente(s):</span>
					<a href="">https://gestion.pe/peru/politica/keiko-fujimori-jose-domingo-perez-fiscalia-recibira-en-dos-semanas-informacion-patrimonial-de-keiko-fujimori-y-su-esposo-noticia/
                    </a>
				</div>
				<br>
			</div>
        </div>
    </main>
</div>


{% endblock %}