{% extends "header.html" %}

{% block content %}
<div class="admin-rep-container container-fluid container-md shadow-lg bg-light">
    <h1>Administrar Reportes</h1>
    <main>
        <h3>Publicaciones reportadas</h3>

        {% for post in reportedPosts %}
        <div class="publicacion">
            
            <div class="row m-0 p-0">
                <div class="col-7">
                    
                    <span class="username-publi pl-2">{{ post.username }}</span>
                </div>
                <div class="col-5 d-flex justify-content-end">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-dark">Ignorar</button>
                        <button type="button" class="btn btn-outline-danger">Eliminar</button>
                    </div>
                </div>
            </div>
            
			<div class="" >
				
					<h3 style="font-family: 'Roboto Slab';">{{ post.titulo }}</h3>
                        
                    <div>
                        <span class="fecha-lbl">
                            Fecha de publicación: <span class="fecha-publi">{{ post.fecha }}</span>
                        </span>
                    </div>
			
				
                    <div class="" >
                        <span>Personaje: </span>
						<span class="nombre-perso pl-2" style="color: rgb(145, 0, 0); font-weight: 700;">
							{{ post.personaje }}
						</span>
					</div>
				

			</div>


			<div class="media m-0 p-0" style="align-items: center;">
				<div class="media-body publi-body-col1">

					<div class="info-publi">
						{{ post.contenido }} 
					</div>
				</div>


			</div>
			<div class="fuente-publi m-0 p-0 mb-3">
				<div class="col-12 p-0">
					<span class="fuentes-lbl">Fuente(s):</span>
					<a href="">{{ post.fuente }}
                    </a>
				</div>
				<br>
			</div>
        </div>
        {% endfor %}
    </main>
</div>


{% endblock %}