{% extends "header.html" %}

{% block content %}
<div class="container shadow bg-white pb-4">
    <h1>Crear Personaje</h1>
    <form action="/crear" class="crear-perso" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="perso-name" class="">Personaje:</label>
            
            <div class="row m-0 p-0">
                <div class="col-md-6 my-2 p-0 pr-2">
                    <input type="text" id="perso-name" name = "personaje" placeholder="Nombre del personaje" class="form-control">
                </div>
                <div class="col-md-6 my-2 p-0 pr-2">
                    <input type="text" id="perso-org" name = "partido" placeholder="Organización Política" class="form-control">
                </div>
            </div>
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="perso-img" name="imagen-personaje">
                <label class="custom-file-label" for="perso-img">Suba una imagen de su personaje</label>
            </div>
        </div>
        <div class="form-group">
            <label for="perso-desc">Descripción:</label>
            <textarea class="form-control" name="descripcion" id="perso-desc"></textarea>
        </div>
        <!--<button type="submit" class="btn btn-outline-dark">ENVIAR</button>-->
    </form>
    <!--aki inicia agregado para el poppu-->
    <!--Boton para el modal-->
    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal" id="btn">Crear</button>
    <!-- The Modal 1-->
  <div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        
        <!-- Modal body 1-->
        <div class="modal-body">
          Probablemente el Personaje ya ha sido creado<br>
          Personaje1<br>
          Personaje2<br>
          Desea crear de todas maneras
        </div>
        
        <!-- Modal footer 1-->
        <div class="modal-footer">
            <!--al hacer click en el boton continuar debe debe guardar el personaje en BD-->
          <button type="submit" class="btn btn-outline-dark" data-dismiss="modal">Continuar</button>
          <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Crear</button>-->
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- The Modal 2-->
  <div class="modal fade" id="myModal2">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        
        <!-- Modal body 2-->
        <div class="modal-body">
          Personaje creado con Exito
        </div>
        
        <!-- Modal footer 2-->
        <div class="modal-footer">
            <!--al hacer click en el boton cerrar debe guardar el personaje en BD-->
          <button type="submit" class="btn btn-outline-dark" data-dismiss="modal">Cerrar</button>
          <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Continuar</button>-->
        </div>
      </div>
    </div>
  </div>
  <!--aki finaliza lo del poppu-->
</div>
<!-- Script de prueba
<script>
    $(document).keyup(function(){
        nom=$('.form-control').val();
        
        if(nom == "Cristian"){
    
            $('#btn').click(function(){
                $('#myModal1').modal();
            });
        }else {
            
            $('#btn').click(function(){
                $('#myModal2').modal();
            });
        }
    });
    </script>
-->

{% endblock %}