{% extends "header.html" %}
{% block content %}
	<div class="contenedor">
		<div class="item" id="item1">
			<h2>Mi Perfil</h2>
			<h3>BIENVENIDO ADMINISTRADOR</h3>
			<img src="{{url_for('static', filename='img/LogoAdmin.jpg')}}" id="avatar">
			<br>
			<ul>
				<h3>Datos de Administrador</h3><br>
				<li>Nombre: </li><br>
				<li>Apellido: </li><br>
				<li>Correo: </li><br>
				<li>Teléfono: </li><br>
			</ul>
		</div>
		<div class="item" id="item4">
			<form action="/crear" method="POST">
				<h2>Cambiar datos: </h2>
				<label for = "nombre">Nombre: </label>
				<input type="text" name="nombre" ><br><br>
				<label for = "apellido">Apellido: </label>
				<input type="text" name="apellido" ><br><br>
				<label for = "correo">Correo: </label>
				<input type="email" name="email" ><br><br>
				<label for = "telefono">Teléfono: </label>
				<input type="telefono" name="telefono" ><br><br>
				<button id="CambiarDatos" class="boton">Cambiar Datos</button><br><br><!--boton cambiar datos-->
			</form>
		</div>
	</div>
{% endblock %}