{% extends "header.html" %}
{% block content %}
	<div class="container"><!--reemplazando contenedor por container aun no-->
		<div class="row" id="item1"><!--bots-->
			<div class="col-xs-12 col-md-6"><!--bots-->
				<h2>Mi Perfil</h2>
				<h3>
					<table>
						<td>BIENVENIDO</td>
						<td>{{ tasks.name }}</td>
					</table>
				</h3><!--
				<h3>BIENVENIDO ADMINISTRADOR</h3>agregado class y style por ahora no class="rounded-circle" height="23px" width="23px"-->
				<br>
				{%if(tasks.foto==None)%}
					<img src="{{url_for('static', filename='img/LogoAdmin.jpg')}}" id="avatar" width="300" height="100">
				{%endif%}
				{%if(tasks.foto!=None)%}
					<img src="static/img/foto_{{tasks.nombre}}.jpg" id="avatar" width="300" height="100">		
				{%endif%}			
			</div><!--bots-->
			<br>
			<div class="col-xs-12 col-md-6"><!--bots-->
				<ul>
					<h3>
						<table>
							<td>Datos</td>
						</table>
					</h3>
					<!--
					<h3>Datos de Administrador</h3><br>-->
				<table>
					<tr>
						<td>Nombre:</td>
						<td>{{ session['name'] }}</td>
					</tr>
					<tr>
						<td>Apellido:</td>
						<td>{{tasks.apellido}} </td>
					</tr>
					<tr>
						<td>Correo:</td>
						<td>{{tasks.correo}} </td>
					</tr>
					<tr>
						<td>Telefono:</td>
						<td>{{tasks.telefono}} </td>
					</tr>
				</table>
				<!--
					<h3>Datos de Administrador</h3><br>
					<li>Nombre: </li><br>
					<li>Apellido: </li><br>
					<li>Correo: </li><br>
					<li>Teléfono: </li><br>-->
				</ul>
			</div><!--bots-->
		</div>
		<div class="item" id="item4">
			<form action="/editor-usuario" method="POST" enctype="multipart/form-data">
				<h2>Cambiar datos: </h2>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
					  <span class="input-group-text">Nombre</span>
					</div>
					<input type="text" id="nombre" name = "nombre" class="form-control">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
					  <span class="input-group-text">Apellido</span>
					</div>
					<input type="text"id="apellido" name = "apellido" class="form-control">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
					  <span class="input-group-text">Teléfono</span>
					</div>
					<input type="text" id="telf" name = "telf"class="form-control">
				</div>
				<div class="custom-file mb-3">
					<input type="file"  name = "foto" class="custom-file-input" id="user-img" name="imagen-usuario">
					<label class="custom-file-label" for="user-img">Suba nueva imagen de usuario</label>
				</div>
				<!--
				<label for = "nombre">Nombre: </label>
				<input type="text" name="nombre" ><br><br>
				<label for = "apellido">Apellido: </label>
				<input type="text" name="apellido" ><br><br>
				<label for = "correo">Correo: </label>
				<input type="email" name="email" ><br><br>
				<label for = "telefono">Teléfono: </label>
				<input type="telefono" name="telefono" ><br><br>-->
				<button id="CambiarDatos" class="btn-dark">Cambiar Datos</button><br><br><!--boton cambiar datos-->
			</form>
		</div>
	</div>
{% endblock %}