<!DOCTYPE html>
<html lang="es-ES">

<head>
	<meta charset="utf-8">
	<meta name="description" content="contenido politico" />
	<title>Memorex</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- BOOTSTRAP CSS -->
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap-select.min.css">

	<link rel="stylesheet" href="{{url_for('static', filename='css/archivoMemorex.css')}}">
	<link rel="icon" href="{{url_for('static', filename= 'img/logoBrowser.png')}}">
	<link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

	<script src="https://kit.fontawesome.com/4527196161.js" crossorigin="anonymous"></script>
	<script src="../static/js/indexScript.js"></script>

	<!-- BOOTSTRAP JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="../static/bootstrap/js/bootstrap.min.js"></script>
	<script src="../static/bootstrap/js/bootstrap-select.min.js"></script>


</head>

<body id="override">
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v8.0"
		nonce="bF49QMPH"></script>
	<nav class="topbar navbar navbar-expand-md navbar-light shadow-sm">
		<a class="navbar-brand" href="http://localhost:5000/"><img height="55px"
				src="{{url_for('static', filename= 'img/logoMem.png')}}"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between row m-0 p-0" id="collapsibleNavbar">
			<ul class="navbar-nav col-12 col-md-5 m-0 p-0 flex-wrap">
				<li class="nav-item">
					<a class="nav-link enlace" href="/1"><i class="fas fa-bullhorn fa-lg"></i> Publicaciones</a>
				</li>
				<li class="nav-item">
					<a class="nav-link enlace" href="http://localhost:5000/personajes"><i
							class="fas fa-user-tie fa-lg"></i> Personajes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link enlace" href="http://localhost:5000/nosotros"><i class="fas fa-brain fa-lg"></i>
						Sobre la página</a>
				</li>
			</ul>

			

				{% if session['logged_in'] %}
			<div class="col-12 col-md-7 row m-0 p-0">
				<form action="/search" method="post" class="col-12 col-lg-9 d-flex m-0 p-0 px-1">

					<!-- para seleccionar la busqueda -->
					<select class="selectpicker show-tick" data-width="30px" data-style="btn-dark select-busqueda" name="opc" title="Tipo de búsqueda" id="exampleFormControlSelect1">
						<option value =Todo selected title="Buscar Todo">Todo</option>
						<option title="Buscar personajes">Publicaciones</option>
						<option title="Buscar publicaciones">Personajes</option>
					</select>
					
					<input type="text" class="form-control busqueda" style="border-radius: 0;" name="buscar" placeholder="Buscar...">

					<div class="input-group-append">
						<button class="btn btn-dark" type="submit"><i class="fas fa-search"></i></button>
						
					</div>
				</form>

				<div class="btn-group btn-user col-12 col-lg-3 m-0 p-0 px-1 h-75">
					<button type="button" class="btn btn-dark dropdown-toggle px-2 " data-toggle="dropdown">
						<img src="static/img/foto_{{ session['name'] }}.jpg"
							alt="">
						{{ session['name'] }}
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item px-3" href="http://localhost:5000/editor-usuario"><i class="fas fa-user mr-2"></i>Mi
							Cuenta</a>
						{% if session['rol'] == 'mod'%}
						<a class="dropdown-item px-3" href="http://localhost:5000/admin-reportes"><i
								class="fas fa-cog mr-2"></i>Administrar</a>
						{% endif %}
						<a class="dropdown-item px-3" href="http://localhost:5000/salir"><i class="fas fa-sign-out-alt mr-2"></i>Cerrar
							Sesión</a>
					</div>
				</div>
			</div>

			{% else %}
			<div class="botones-user col-12 col-md-7 row m-0 p-0">
				<form action="/search" method="post" class=" position-relative col-12 col-lg-10 d-flex m-0 p-0 px-1">
					<!-- para seleccionar la busqueda -->
					<select class="selectpicker show-tick" data-width="30px" data-style="btn-dark select-busqueda" name="opc" title="Tipo de búsqueda" id="exampleFormControlSelect1">
						<option value =Todo selected title="Buscar Todo">Todo</option>
						<option title="Buscar personajes">Publicaciones</option>
						<option title="Buscar publicaciones">Personajes</option>
					</select>
					<input type="text" class="form-control busqueda" style="border-radius: 0;" name="buscar" placeholder="Buscar...">
					<div class="input-group-append">
						<button class="btn btn-dark" type="submit"><i class="fas fa-search"></i></button>
					</div>
				</form>
				<div class="btn-group col-12 col-lg-2 m-0 p-0 px-1">
					<a href="login" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="bottom" title="Acceder"><i class="fas fa-sign-in-alt mr-2"></i></a>
					<a href="sign-up" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="bottom" title="Registrarse"><i class="fas fa-user mr-2"></i></a>
				</div>
			</div>
				
				
			{% endif %}





			

		</div>


	</nav>



	{% block content %}
	{% endblock %}
	<!--
		<div class="fb-comments" data-href="http://127.0.0.1:5000/index" data-numposts="2" data-width="100%"></div>
	-->


	<footer>
		<span>Memorex&copy; 2020</span>
	</footer>

	<script>
		$(".custom-file-input").on("change", function () {
			var fileName = $(this).val().split("\\").pop();
			$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});

		$(document).ready(function () {
			$('[data-toggle="popover"]').popover();
		});

		$(document).ready(function () {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
</body>

</html>