<!DOCTYPE html>
<html lang = "es-ES">
<head>
	<meta charset="utf-8">
	<meta charset = "iso-8559-1"/>
	<meta name = "description" content = "contenido politico"/>
	<title>Memorex</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/archivoMemorex.css')}}">
</head>
<body>
	<img class="imagen1" src="{{url_for('static', filename= 'img/InicioMemorex.jpg')}}">
	<hr>
	<img class="imagen2" src="{{url_for('static', filename= 'img/LoginMemorex.jpg')}}"/>
	<div class="login"><a href="login">ACCEDER</a></div>
</body>
</html>