{% extends "header.html" %}

{% block content %}
	<main role="main" class="container-fluid container-md bg-white px-4 shadow-sm">
		
		{% if session['logged_in'] %}

		<div class="publicar">
			<h3>Nueva Publicación</h3>
			<form action="/crearPublicacion" method="POST">
				<label for="" style="display: block;">Percepción:</label>
				<input type="radio" id="bueno" name="percepcion" value="bueno">
				<i class="fas fa-thumbs-up" aria-hidden="true"></i>
				<input type="radio" id="malo" name="percepcion" value="malo">
				<i class="fas fa-thumbs-down" aria-hidden="true"></i>
				<input type="text" id="titulo" name="titulo" maxlength="100" placeholder="Título...">
				
				<label for="personaje-select">Personaje:</label>

				<button type="button" class="boton seleccionar" id="boton-seleccionar" onclick="selectPerso()">Seleccionar</button>
				<a href="crear-perso"><button type="button" class="boton nuevo" id="boton-nuevo" onclick="nuevoPerso()" style="float:right;">Nuevo</button></a>
				<div class="perso">

					<select name="personaje" id="personaje-select">
						<option value="">Seleccione un personaje</option>
						{%for task in tasks1%}
						<option value="{{task.nombre}}">{{task.nombre}}</option>
						{%endfor%}
					</select>

					<input type="text" id="personaje" name="personaje" maxlength="30" placeholder="Nuevo Personaje...">
				</div>

				<input type="date" id="fecha" name="fecha" style="float: right;">
				<label for="fecha" style="float: right;" id="lblfecha">Fecha </label>
				
				
				
				<textarea name="descripcion" id="descripcion" placeholder="Describe el acontecimiento..."></textarea>
				<label for="referencias">Fuente(s): </label>
				<textarea name="referencias" id="referencias" placeholder="Referencias, citas, enlaces, etc..."></textarea>
				<button type="submit" class="boton" style="float: right;">PUBLICAR</button>
				<div class="clear"></div>
			</form>
		</div>
		{% endif %}

		{% for task in tasks %}
		<div class="publicacion n1">
			<span class="username-publi">{{task.username}}</span>
			<h3 style="font-family: 'Roboto Slab';">{{task.titulo}}</h2>
			<div class="media m-0 p-0" style="align-items: center;">
				<div class="media-body publi-body-col1">
					<span class="fecha-lbl">
						Fecha de publicación: <span class="fecha-publi">{{task.fecha}}</span>
					</span>
					<div class="info-publi">
						{{task.contenido}}
					</div>
					
				</div>
				<div class="publi-body-col2">
					<img class="mx-auto" src="static/img/foto_{{task.personaje}}.jpg" alt="Keiko Fujimori">
					<span class="nombre-perso" style="display: block;">
						{{task.personaje}}
					</span>
				</div>
				
			</div>
			<div class="fuente-publi m-0 p-0 mb-3">
				<div class="col-12 p-0">
					<span class="fuentes-lbl">Fuente(s):</span>
					<a href="{{task.fuente}}">{{task.fuente}}</a>
				</div>
			</div>
		</div>
		{% endfor %}

	</main>

	<script>

		var perso = document.getElementById("personaje");
		var persoSelect = document.getElementById("personaje-select");

		function nuevoPerso() {
			perso.style.display = "block";
			persoSelect.style.display = "none";
		}

		function selectPerso() {
			perso.style.display = "none";
			persoSelect.style.display = "block";
		}
	</script>
{% endblock %}