{% extends "header.html" %}

{% block content %}
<div class="grid-info container mt-3">
	<div class="contenedor-texto ">  
		<h1>ACERCA DE NOSOTROS</h1>  
		<p>Somos un grupo de estudiantes de Ingeniería de Software de la Universidad Nacional Mayor de San Marcos.
		Actualmente, nos encontramos realizando este proyecto usando el método Scrum, así que mejorarás tu experiencia con el paso del tiempo.
		<br>Memorex es una página web hecha para que el ciudadano no olvide, pues nace ante la necesidad de recordar todo lo relacionado a personajes vinculados a nuestra política.
		Aquí podrás encontrar mucha información acerca de diversos personajes políticos y/o públicos.
		Te garantizamos que la información que encuentres será totalmente imparcial y verídica.
		También podrás comentar sobre el personaje de tu interés y hacer publicaciones sobre ellos, es decir, la página es por todos y para todos.
		<br>Para contactarte con nosotros, puedes dejarnos un mensaje privado o seguirnos en nuestras redes sociales.</p>
	</div>
		<img class="img-fluid" src="{{url_for('static', filename= 'img/cerebro_aboutus.png')}}">
		
</div>
<div class="grid-info">
<div class="contenedor-texto">  
<h3>CONTÁCTANOS</h3> 
<div class="contenedor-redes">      
	<a href="" title="Facebook"><i class="fab fa-facebook"></i></a>
      
	<a href="" title="Twitter"><i class="fab fa-twitter"></i></a> 
     
        <a href="" title="Instagram"><i class="fab fa-instagram"></i></a> 
</div> 
</div>
</div>     
      
{% endblock %}