{% extends "header.html" %}

{% block content %}
<div class="grid-info container mt-3">
	<div class="contenedor-texto ">  
		<h1>ACERCA DE NOSOTROS</h1>  
		<p>El equipo detrás del desarrollo de Memorex lo conforma un grupo de estudiantes de Ingeniería de Software de la Universidad Nacional Mayor de San Marcos.
		<br>Memorex es una página web hecha para que el ciudadano no olvide, pues nace ante la necesidad de recordar todo lo relacionado a personajes vinculados a nuestra política.
		Aquí podrás encontrar mucha información acerca de diversos personajes políticos y/o públicos.
		El equipo se asegura constantemente de que la información que encuentres será totalmente imparcial y verídica dado que se cuenta con opciones de reportar información y personajes falsos.
		También podrás comentar sobre el personaje de tu interés y hacer publicaciones sobre ellos.
		<br>Para contactarte con nosotros, puedes dejarnos un mensaje privado o seguirnos en nuestras redes sociales.
		Si no comprendes mucho acerca de Memorex, no te preocupes, aquí abajo tienes el Manual de usuario de Memorex.
		<br><a title="Manual" href="https://drive.google.com/file/d/1W0l5d7NZzcSCdT6UdSp09NXNDmmuo2SA/view" target="_blank">Descargar Manual de usuario</a>
	</p>
	</div>
		<img class="img-fluid" src="{{url_for('static', filename= 'img/cerebro_aboutus.png')}}">
		
</div>
<div class="grid-info">
<div class="contenedor-texto">  
<h3>CONTÁCTANOS</h3> 
<div class="contenedor-redes">      
	<a href="https://www.facebook.com/maurizio.yarlequerios" title="Facebook" target="_blank"><i class="fab fa-facebook"></i></a>
      
	<a href="" title="Twitter"><i class="fab fa-twitter"></i></a> 
     
        <a href="" title="Instagram"><i class="fab fa-instagram"></i></a> 
</div> 
</div>
</div>     
      
{% endblock %}