{% extends "header.html" %}

{% block content %}

<div class="container-fluid container-md lista-persos bg-white main shadow-lg">
    <div class="row mt-0">
        {% for task1 in tasks1 %}
        <div class="col-12 col-sm-6 col-lg-4 text-center mb-2">
            <div class="card">
                <div class="card-header">{{task1.nombre}}</div>
                <img style="height: 300px;" class="card-img-top"
                    src="http://127.0.0.1:5000/static/img/foto_{{task1.nombre}}.jpg" alt="{{task1.nombre}}"
                    style="width:100%">
                <div class="card-body">
                    <p class="card-text">Organización Política: {{task1.partido}}</p>
                    <!--"personaj/{{task1.id}}" -->
                    <button type="button" class="btn btn-dark w-100" data-toggle="modal" data-target="#myModal{{task1.id}}">Ver más<i class="fas fa-stream pl-2"></i></button>

                    <div class="modal fade" id="myModal{{task1.id}}" role="dialog" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <div class="modal-body">
                                    <p>
                                    </p>
                                    <div class="container1 ">
                                        <div class="content animate_animated  animate_backInDown">

                                        </div>
                                        <header>
                                            <h2 class="title-item">
                                                <span class="position"></span>
                                                {{task1.nombre}}
                                            </h2>
                                        </header>
                                        <section>

                                            <div class=" text ">
                                                <address>
                                                    <img style="max-width: 300px;" class="card-img-top"
                                                        src="http://127.0.0.1:5000/static/img/foto_{{task1.nombre}}.jpg"
                                                        alt="{{task1.nombre}}">

                                                </address>
                                                <p class="paragraph">{{task1.partido}}</p>
                                                <p class="paragraph">{{task1.informacion}}</p>
                                            </div>
                                            <!--Links en los personajes-->
                                            <table class="table table-borderless">
                                                <tbody>
                                                  <tr>
                                                    <td>Link1</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Link2</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Link3</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            <!------------------------------------>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Close</button>

                                            </div>
                                        </section>
                                    </div>


                                </div>
                            </div>



                            <p></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>


    <!-- <table class="table">
        <thead>
            <th>#</th>
            <th>Nombre</th>
            <th>Partido Político</th>
            <th>Información</th>
        </thead>
        <tbody>
            {% for task1 in tasks1 %}
            <tr>
                <td>{{task1.id}}</td>
                <td>{{task1.nombre}}</td>
                <td>{{task1.partido}}</td>

                <td>
                    <a href="personaj/{{task1.id}}">Ver más </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
    	<!--paginacion-->
		<ul class=" pagination justify-content-end">
            {% if prev_url %}
			<li class="page-item"><a class="btn btn-outline-dark" href="{{prev_url }}">Previous</a></li>
			{% else %}
        	<li class="page-item"><a class="btn btn-outline-dark" href="#">Previous</a></li>
			{% endif %}
            {%for page in paginacion.iter_pages() %}
			<li class="page-item"><a class="btn btn-outline-dark" href="/personajes/{{page}}">{{page}}</a></li>
			{% endfor %}

			{% if next_url %}
			<li class="page-item"><a class="btn btn-outline-dark" href="{{ next_url }}">Next</a></li>

			{% endif %}
		</ul>
		<!---->
</div>
{% endblock %}