{% extends "header.html" %}

{% block content %}

<div class="container-fluid container-md lista-persos bg-white main shadow-lg">
    <!--Colapsable en personajes-->
    <div class="container">
        <div class="collapse" id="demo1">
    <div class="form-group">
      <div class="header-seccion shadow">
        <h1>Crear Personaje</h1>
      </div>
      <form action="/crear" class="crear-perso" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="perso-name" class="">Personaje:</label>
                
                <div class="row m-0 p-0">
                    <div class="col-md-6 my-2 p-0 pr-2">
                        <input type="text" id="perso-name" name = "personaje" placeholder="Nombre del personaje" class="form-control">
                    </div>
                    <div class="col-md-6 my-2 p-0 pr-2">
                        <input type="text" id="perso-org" name = "partido" placeholder="Organización Política" class="form-control">
                    </div>
                </div>
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" id="perso-img" name="imagen-personaje">
                    <label class="custom-file-label" for="perso-img">Suba una imagen de su personaje</label>
                </div>
            </div>
            <div class="form-group">
                <label for="perso-desc">Descripción:</label>
                <textarea class="form-control" name="descripcion" id="perso-desc"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-dark">Crear Personaje</button>
        </form>
        </div>
        </div>
        <div class="d-flex align-content-center justify-content-center">
            <button data-toggle="collapse" data-target="#demo1" class="btn btn-outline-dark collapsed px-5"
                aria-expanded="false" aria-controls="demo1"><i class="fa fa-lg" aria-hidden="true"></i></button>
        </div>
    </div>
    <!--Fin Colapsable en personajes-->
    <div class="row mt-0">
        {% for task1 in tasks1 %}
        <div class="col-12 col-sm-6 col-lg-4 text-center mb-2">

            <div class="card">
                <div class="card-header">{{task1.nombre}}
                    <!--Botones de Reportar y modificar-->
                    <button type="button" class="btn btn-outline-dark" data-toggle="modal" 
                        data-target="#myModal-Modificar"><i class="fa fa-pen" data-toggle="tooltip" data-placement="top" 
                        title="Modificar" style="color: rgb(256, 0, 0);" aria-hidden="true" 
                        data-original-title="Modificar"></i><span class="sr-only">Modificar</span>
                    </button>
                    <button type="button" class="btn btn-outline-dark" data-toggle="modal" 
                        data-target="#myModal-Reportar"><i class="far fa-flag" data-toggle="tooltip" data-placement="top" 
                        title="Reportar" style="color: rgb(256, 0, 0);" aria-hidden="true" 
                        data-original-title="Reportar"></i><span class="sr-only">Reportar</span>
                    </button>
                    <!--Fin Botones de Reportar y modificar-->
                </div>
                <img style="height: 300px;" class="card-img-top"
                    src="http://127.0.0.1:5000/static/img/foto_{{task1.nombre}}.jpg" alt="{{task1.nombre}}"
                    style="width:100%">
                <div class="card-body">
                    <p class="card-text">Organización Política: {{task1.partido}}</p>
                    <!--"personaj/{{task1.id}}" -->
                    <button type="button" class="btn btn-dark w-100" data-toggle="modal" data-target="#myModal{{task1.id}}">Ver más<i class="fas fa-stream pl-2"></i></button>

                    <div class="modal fade" id="myModal{{task1.id}}" role="dialog" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <div class="modal-body">
                                    <p>
                                    </p>
                                    <div class="container1 ">
                                        <div class="content animate_animated  animate_backInDown">

                                        </div>
                                        <header>
                                            <h2 class="title-item">
                                                <span class="position"></span>
                                                {{task1.nombre}}
                                            </h2>
                                        </header>
                                        <section>

                                            <div class=" text ">
                                                <address>
                                                    <img style="max-width: 300px;" class="card-img-top"
                                                        src="http://127.0.0.1:5000/static/img/foto_{{task1.nombre}}.jpg"
                                                        alt="{{task1.nombre}}">

                                                </address>
                                                <p class="paragraph">{{task1.partido}}</p>
                                                <p class="paragraph">{{task1.informacion}}</p>
                                            </div>
                                            <!--Links en los personajes-->
                                            <!-- <table class="table table-borderless">
                                                <tbody>
                                                  <tr>
                                                    <td>Link1</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Link2</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Link3</td>
                                                  </tr>
                                                </tbody>
                                              </table> -->
                                            <!------------------------------------>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Cerrar</button>

                                            </div>
                                        </section>
                                    </div>


                                </div>
                            </div>



                            <p></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="publicacion"><hr>
            <div class="titulo-busqueda">
                    
             <label for="inputsm">Publicaciones encontradas</label>
                </div>
                
                
            
                        <div>
                            <img src="/static/img/foto_Maurizio.jpg" alt="" class="img-usuario rounded-circle">
                            <span class="username-publi pl-2"> Maurizio</span>
                            <button type="button" data-toggle="modal" data-target="#modalReporte5" class="btn float-right">
                                <i class="far fa-flag" data-toggle="tooltip" data-placement="top" title="" style="color: rgb(168, 0, 0);" aria-hidden="true" data-original-title="Reportar"></i><span class="sr-only">Reportar</span>
                            </button>
                        </div>
                        <div class="container">
                            <!-- Modal Reporte-->
                            <div class="modal fade" id="modalReporte5">
                                <div class="modal-dialog">
                                    <div class="modal-content bg-light" style="color: #000;">
                                        <div class="modal-header">
            
                                            <h4 class="modal-title" style="font-size: 1.1em; font-weight: 700;">¿Por qué razón
                                                sientes que esta publicación debe ser
                                                reportada?</h4>
                                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">X</button>
                                        </div>
                                        <div class="modal-body">
            
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="duplicado5" value="duplicado" name="reporte5">
                                                <label for="duplicado5" class="custom-control-label ">Duplicado</label>
                                            </div>
            
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="malintencionado5" value="malintencionado" name="reporte5">
                                                <label for="malintencionado5" class="custom-control-label ">Malintencionado</label>
                                            </div>
            
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="spam5" value="spam" name="reporte5">
                                                <label for="spam5" class="custom-control-label ">Irrelevante
                                                    (Spam)</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" data-toggle="collapse" data-target="#report-otro-text5" class="custom-control-input" id="otro5" name="reporte5">
                                                <label for="otro5" class="custom-control-label">Otro:</label>
                                            </div>
                                            <textarea name="otro-text" id="report-otro-text5" placeholder="Escriba su razón..." rows="4" maxlength="200" class="form-control collapse"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <form action="/reportar/5" method="POST" class="col-12 d-flex m-0 p-0 justify-content-end">
                                                <button class="btn btn-dark" type="submit">Reportar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="row m-0 p-0">
                            <div class="col-8 m-0 p-0" style="color: #000;">
                                <h3 style="font-family: 'Roboto Slab';">Desde hoy rige la inmovilización social obligatoria los días domingos</h3>
                                    <span class="fecha-lbl">
                                        Fecha de publicación: <span class="fecha-publi">2020-08-16</span>
                                    </span>
                            </div>
                            <div class="col-4 m-0 p-0">
                                <div class="publi-body-col2">
                                    <img class="rounded-circle" src="static/img/foto_Martín Alberto Vizcarra Cornejo.jpg" alt="Martín Alberto Vizcarra Cornejo">
                                    <span class="nombre-perso pl-2">
                                        Martín Alberto Vizcarra Cornejo
                                    </span>
                                </div>
                            </div>
            
                        </div>
            
            
                        <div class="media m-0 p-0" style="align-items: center;">
                            <div class="media-body publi-body-col1">
            
                                <div class="info-publi">
                                    A partir de hoy rige a nivel nacional la inmovilización social obligatoria de los días domingos, una medida que decretó el presidente Martín Vizcarra, antes el incremento de contagios por COVID-19.
            En la víspera el país registró un récord de 9,507 nuevos contagios y superó los 26,000 muertos de coronavirus, en medio de un rebrote de la pandemia en vísperas de iniciar un toque de queda dominical nacional, informó el Ministerio de Salud (Minsa).
            De este modo, ahora el toque queda va desde las 10:00 p.m. hasta las 4:00 a.m. de lunes a sábado y los domingos la inmovilización social obligatoria es todo el día.
            
                                </div>
                            </div>
            
            
                        </div>
                        <div class="fuente-publi m-0 p-0 mb-3">
                            <div class="col-12 p-0">
                                <span class="fuentes-lbl">Fuente(s):</span>
                                <a href="https://gestion.pe/peru/desde-hoy-rige-la-inmovilizacion-obligatoria-los-dias-domingos-noticia/">https://gestion.pe/peru/desde-hoy-rige-la-inmovilizacion-obligatoria-los-dias-domingos-noticia/</a>
                            </div>
                            <br>
                            <!---->
            
                            <button type="button" class="btn btn-dark mb-2 collapsed" data-toggle="collapse" data-target="#comments5" aria-expanded="false">Comentarios <i class="far fa-comments fa-lg" style="color: rgb(226, 226, 226);" aria-hidden="true"></i></button>
                            <div id="comments5" class="collapse" style="">
                                <h3 id="reply-title" class="comment-reply-title">Dejar comentario <small><a rel="nofollow" id="cancel-comment-reply-link" href="/2011/08/28/facebook-comment-plugin/#respond" style="display:none;">Cancelar respuesta</a></small></h3>
                                <form action="" method="post" id="commentform" class="comment-form" novalidate="">
                                    <div class="clearfix"></div>
                                    <div class="comment-form-input-wrap td-form-comment">
                                        <textarea placeholder="Comentario:" id="comment" class="form-control" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                                        <!-- 
                                            <br>
                                        <br>
                                        -->
                                    </div>
                                    <!-- 
                                    <div class="comment-form-input-wrap td-form-author">
                                        <input class="form-control" id="author" name="author" placeholder="Nombre:*" type="text"
                                            value="" size="30" aria-required='true' />
                                        <br>
                                        <br>
                                    </div>
                                    <div class="comment-form-input-wrap td-form-email">
                                        <input class="form-control" id="email" name="email" placeholder="Correo electrónico:*"
                                            type="text" value="" size="30" aria-required='true' />
                                        <br>
                                    </div>
            
            
                                
            
                                    <style type="text/css">
                                        #gdpr-comments-compliance>div {
                                            
                        
                                            /*margin: 1rem 0;*/
                                            
                                            margin: 0.3rem 0;
                                        }
            
                                        #gdpr-comments-checkbox-wrap {
                                            display: flex;
                                            align-items: baseline;
                                        }
            
                                        #gdpr-comments-checkbox+label {
                                            display: inline;
                                            margin: 0;
                                        }
            
                                        #gdpr-comments-compliance-text {
                                            font-size: .8em;
                                        }
                                    </style>
            
                                    -->
            
                                    <div id="gdpr-comments-compliance">
                                        <div id="gdpr-comments-checkbox-wrap">
                                            <!--
                                            <input id="gdpr-comments-checkbox" type="checkbox" name="gdpr_comments_checkbox"
                                                value="1" required="required" />
                                        
                                                <label for="gdpr-comments-checkbox">He leído la <a href="">política de privacidad</a> y
                                                acepto que se almacenen mis datos para recibir respuestas por correo
                                                electrónico.</label>
                                            -->
            
                                        </div>
                                    </div>
                                    <br>
                                    <a href="" class="btn btn-outline-dark">Publicar comentario</a>
                                    <br>
                                    <input type="hidden" name="comment_post_ID" value="3584" id="comment_post_ID">
                                    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                    <p style="display: none;">
                                        <input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="190a14062b">
                                    </p>
                                    <p style="display: none;">
                                        <input type="hidden" id="ak_js" name="ak_js" value="83"></p>
                                    <br>
            
                                    <div class="media">
                                        <div class="media-left media-top">
                                            <img src="../static/img/CerebroMemorex.jpg" class="media-object" style="width:80px">
                                        </div>
                                        <div class="media-body">
                                            <span class="username-publi pl-2"> Jhon Marco Salcedo Alfaro</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua.</p>
            
                                        </div>
                                    </div>
                                    <br>
                                </form>
            
                                <!--
                                    <div class="fb-comments" data-href="http://127.0.0.1:5000/index" data-numposts="1"
                                    data-width="100%">
                                </div>
                            -->
                            </div>
            
            
            
                        </div>
                    </div>

        {% endfor %}
    </div>


    <!-- <table class="table">
        <thead>
            <th>#</th>
            <th>Nombre</th>
            <th>Partido Político</th>
            <th>Información</th>
        </thead>
        <tbody>
            {% for task1 in tasks1 %}
            <tr>
                <td>{{task1.id}}</td>
                <td>{{task1.nombre}}</td>
                <td>{{task1.partido}}</td>

                <td>
                    <a href="personaj/{{task1.id}}">Ver más </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
    	<!--paginacion-->
		<ul class=" pagination pagination-sm justify-content-end py-3">
            {% if prev_url %}
			<li class="page-item"><a class="page-link btn" href="{{prev_url }}"><i class="fas fa-chevron-left"></i></a></li>
			{% else %}
        	<li class="page-item"><a class="page-link btn disabled" href="#"><i class="fas fa-chevron-left"></i></a></li>
			{% endif %}
            {%for page in paginacion.iter_pages() %}
			<li class="page-item"><a class="page-link btn" href="/personajes/{{page}}">{{page}}</a></li>
			{% endfor %}

			{% if next_url %}
			<li class="page-item"><a class="page-link btn" href="{{ next_url }}"><i class="fas fa-chevron-right"></i></a></li>

			{% endif %}
		</ul>
        <!---->
    <!-- The Modal Modificar personaje-->
  <div class="modal fade" id="myModal-Modificar">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header Modificar personaje-->
        <div class="modal-header">
          <h4 class="modal-title">Modificar Personaje</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body Modificar personaje-->
        <div class="modal-body">
        <form action="/crear" class="crear-perso" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <div class="row m-0 p-0">
                <div class="col-md-6 my-2 p-0 pr-2">
                    <input type="text" id="perso-name" name = "personaje" placeholder="Nombre del personaje" class="form-control">
                </div>
                <div class="col-md-6 my-2 p-0 pr-2">
                    <input type="text" id="perso-org" name = "partido" placeholder="Nueva Organización Política" class="form-control">
                </div>
            </div>
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="perso-img" name="imagen-personaje">
                <label class="custom-file-label" for="perso-img">Suba nueva imagen de su personaje</label>
            </div>
        </div>
        <div class="form-group">
            <label for="perso-desc">Nueva descripción del personaje:</label>
            <textarea class="form-control" name="descripcion" id="perso-desc"></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Modificar</button>
        </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin The Modal Modificar personaje-->
  
  <!-- The Modal Reportar-->
  <div class="modal fade" id="myModal-Reportar">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header Reportar-->
        <div class="modal-header">
          <h4 class="modal-title">¿Cual es la razon por la que este personaje debe ser reportado?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body Reportar-->
        <div class="modal-body">
          <form action="/action_page.php">
    		<div class="form-check">
      			<label class="form-check-label" for="radio1">
        			<input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Duplicado
      			</label>
    		</div>
    		<div class="form-check">
      			<label class="form-check-label" for="radio2">
        			<input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Malintencionado
      			</label>
    		</div>
    		<div class="form-check">
      			<label class="form-check-label" for="radio3">
        			<input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">Irrelevante
      			</label>
    		</div>
    		<div class="form-check">
      			<label class="form-check-label" data-toggle="collapse" data-target="#demo" for="radio4">
        			<input type="radio" class="form-check-input" id="radio4" name="optradio" value="option4">Otro:
      			</label>
       		<div id="demo" class="collapse">
    		<div class="form-group">
      			<textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    		</div>
            </div>
            </div>
            <br>
    		<button type="submit" class="btn btn-dark">Reportar</button>
  		</form>
       </div>
      </div>
    </div>
  </div>
  <!-- Fin The Modal Reportar-->
</div>
{% endblock %}