
{% extends "header.html" %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
<div class="container">
    <div class="content">
        <header>
            <h1 class="title"> Lista de Personajes </h1>
        </header>
        <table class="table">
            <thead>
                <th>#</th>
                <th>Nombre</th>
                <th>Partido Político</th>
                <th>Calificación</th>
                <th>Información</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Keiko Sofía Fujimori Higuchi</td>
                    <td>Fuerza Popular</td>
                    <td><i class="fas fa-star"></i><i class="fas fa-star"></i></td>

                    <td>
                        <a href="Keiko">Ver más </a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Alan Gabriel Ludwig García Pérez</td>
                    <td>Alianza Popular Revolucionaria Americana</td>
                    <td><i class="fas fa-star"></i><i class="fas fa-star"></i></td>
                    <td>
                        <a href="Alan">Ver más </a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Alejandro Celestino Toledo Manrique</td>
                    <td>Perú Posible</td>
                    <td><i class="fas fa-star"></i><i class="fas fa-star"></i></td>
                    <td>
                        <a href="Toledo">Ver más </a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Martín Alberto Vizcarra Cornejo</td>
                    <td>Peruanos Por el Kambio</td>
                    <td><i class="fas fa-star"></i><i class="fas fa-star"></i></td>
                    <td>
                        <a href="Vizcarra">Ver más </a> 
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
{% endblock %}