{% extends "header.html" %}

{% block content %}

<div class="container-fluid container-md lista-persos bg-white main shadow-lg">
    <!--Colapsable en personajes-->
    {% if session['logged_in'] %}
    <div class="container">
        <div class="collapse" id="demo1">
            <div class="form-group">
                <div class="header-seccion shadow">
                    <h1>Crear Personaje</h1>
                </div>
                <form action="/crear" class="crear-perso" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="perso-name" class="">Personaje:</label>
                        
                        <div class="row m-0 p-0">
                            <div class="col-md-6 my-2 p-0 pr-2">
                                <input type="text" id="perso-name" name = "personaje" placeholder="Nombre del personaje" maxlength="100" class="form-control" required>
                            </div>
                            <div class="col-md-6 my-2 p-0 pr-2">
                                <input type="text" id="perso-org" name = "partido" placeholder="Organización Política" maxlength="80" class="form-control" required>
                            </div>
                        </div>
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="perso-img" name="imagen-personaje">
                            <label class="custom-file-label" for="perso-img">Suba una imagen de su personaje</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="perso-desc">Descripción:</label>
                        <textarea class="form-control" name="descripcion" maxlength="1000" id="perso-desc" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-dark">Crear Personaje</button>
                </form>
            </div>
        </div>
        <div class="d-flex align-content-center justify-content-center">
            <button data-toggle="collapse" data-target="#demo1" class="btn btn-outline-dark collapsed px-5"
                aria-expanded="false" aria-controls="demo1" title="Crear Personaje"><i class="fa fa-lg" aria-hidden="true"></i></button>
        </div>
    </div>
    {% endif %}
    <!--Fin Colapsable en personajes-->
    <div class="row mt-0">
        {% for task1 in tasks1 %}
        <div class="col-12 col-sm-6 col-lg-4 text-center mb-2">

            <div class="card">
                <div class="card-header">{{task1.nombre}}
                    <!--Botones de Reportar y modificar-->
                    {% if session['logged_in'] %}
                    <div class="btn-group botones-header-perso">
                        <button type="button" class="btn btn-outline-dark boton-perso-header" data-toggle="modal" 
                            data-target="#myModal-Modificar{{task1.id}}" title="Modificar Personaje"><i class="fa fa-pen"></i><span class="sr-only">Modificar</span>
                        </button>
                        <button type="button" class="btn btn-outline-dark boton-perso-header" data-toggle="modal" 
                            data-target="#myModal-Reportar{{task1.id}}" title="Reportar Personaje"><i class="far fa-flag"></i><span class="sr-only">Reportar</span>
                        </button>
                        <button type="button" class="btn btn-outline-danger boton-perso-header" data-toggle="modal" 
                        data-target="#myModal-Eliminar{{task1.id}}" title="Eliminar Personaje">
                            <i class="fas fa-user-times"></i>
                        </button>
                    </div>
                    {% endif %}
                    <!--Fin Botones de Reportar y modificar-->
                </div>
                <img style="height: 300px;" class="card-img-top"
                    src="http://127.0.0.1:5000/static/img/foto_{{task1.nombre}}.jpg" alt="{{task1.nombre}}"
                    style="width:100%">
                <div class="card-body">
                    <p class="card-text">Organización Política: {{task1.partido}}</p>
                    <!--"personaj/{{task1.id}}" -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal{{task1.id}}">Ver más<i class="fas fa-stream pl-2"></i></button>
                        <a href="{{ url_for('characterPosts') }}?name={{ task1.nombre }}&id={{ task1.id }}" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="right" title="Ver Publicaciones"><i class="far fa-address-card"></i></a>
                    </div>

                    <div class="modal fade" id="myModal{{ task1.id }}" role="dialog" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <div class="modal-body">
                                    <p>
                                    </p>
                                    <div class="container1 ">
                                        <div class="content animate_animated  animate_backInDown">

                                        </div>
                                        <header>
                                            <h2 class="title-item">
                                                <span class="position"></span>
                                                {{task1.nombre}}
                                            </h2>
                                        </header>
                                        <section>

                                            <div class=" text ">
                                                <address>
                                                    <img style="max-width: 300px;" class="card-img-top"
                                                        src="http://127.0.0.1:5000/static/img/foto_{{task1.nombre}}.jpg"
                                                        alt="{{task1.nombre}}">

                                                </address>
                                                <p class="paragraph">{{task1.partido}}</p>
                                                <p class="paragraph">{{task1.informacion}}</p>
                                            </div>
                                            <!--Links en los personajes-->
                                            <!-- <table class="table table-borderless">
                                                <tbody>
                                                  <tr>
                                                    <td>Link1</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Link2</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Link3</td>
                                                  </tr>
                                                </tbody>
                                              </table> -->
                                            <!------------------------------------>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Cerrar</button>

                                            </div>
                                        </section>
                                    </div>


                                </div>
                            </div>



                            <p></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>


<!-- The Modal Modificar personaje-->
  <div class="modal fade" id="myModal-Modificar{{task1.id}}">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header Modificar personaje-->
        <div class="modal-header">
          <h4 class="modal-title">Modificar Personaje</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body Modificar personaje-->
        <div class="modal-body">
        <form action="/crear/{{task1.nombre}}" class="crear-perso" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="row m-0 p-0">
                    <div class="col-md-6 my-2 p-0 pr-2">
                        <input type="text" id="perso-name" value="{{task1.nombre}}" name = "personaje" placeholder="Nuevo nombre del personaje" maxlength="100" class="form-control">
                    </div>
                    <div class="col-md-6 my-2 p-0 pr-2">
                        <input type="text" id="perso-org" value="{{task1.partido}}" name = "partido" placeholder="Nueva Organización Política" maxlength="80" class="form-control">
                    </div>
                </div>
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" id="perso-img" name="imagen-personaje">
                    <label class="custom-file-label" for="perso-img">Si no desea cambiar la imagen, deje este espacio en blanco</label>
                </div>
            </div>
            <div class="form-group">
                <label for="perso-desc">Nueva descripción del personaje:</label>
                <textarea class="form-control" name="descripcion" id="perso-desc" maxlength="1000">{{task1.informacion}}</textarea>
            </div>
            <button type="submit" class="btn btn-dark">Modificar</button>
        </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin The Modal Modificar personaje-->
  
  <!-- The Modal Reportar-->
  <div class="modal fade" id="myModal-Reportar{{task1.id}}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header Reportar-->
        <div class="modal-header">
          <h4 class="modal-title">¿Cual es la razon por la que este personaje debe ser reportado?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body Reportar-->
        <div class="modal-body">
          <form method="post" action="{{ url_for('report') }}?action=report&postType=character&postId={{task1.id}}">
    		<div class="form-check">
      			<label class="form-check-label" for="radio1">
        			<input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Duplicado
      			</label>
    		</div>
    		<div class="form-check">
      			<label class="form-check-label" for="radio2">
        			<input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Malintencionado
      			</label>
    		</div>
    		<div class="form-check">
      			<label class="form-check-label" for="radio3">
        			<input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">Irrelevante
      			</label>
    		</div>
    		<div class="form-check">
      			<label class="form-check-label" data-toggle="collapse" data-target="#demo" for="radio4">
        			<input type="radio" class="form-check-input" id="radio4" name="optradio" value="option4">Otro:
      			</label>
       		<div id="demo" class="collapse">
    		<div class="form-group">
      			<textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    		</div>
            </div>
            </div>
            <br>
    		<button type="submit" class="btn btn-dark">Reportar</button>
  		</form>
       </div>
      </div>
    </div>
  </div>
  <!-- Fin The Modal Reportar-->

    <!-- The Modal Eliminar Personaje-->
<div class="modal fade" id="myModal-Eliminar{{task1.id}}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header Modificar personaje-->
        <div class="modal-header">
          <h4 class="modal-title">¿Está seguro que desea eliminar el personaje?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body Modificar personaje-->
        <div class="modal-body">
            <form method="post" action="{{ url_for('report') }}?action=delete&postType=character&postId={{ task1.id }}" class="crear-perso d-flex justify-content-around" enctype="multipart/form-data">
                <a type="" data-dismiss="modal" style="color: #eee;" class="btn btn-dark">Cancelar</a>
                <button type="submit" class="btn btn-outline-danger">Eliminar</button>
            </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin The Modal Modificar personaje-->


       

        {% endfor %}
    </div>


    <!-- <table class="table">
        <thead>
            <th>#</th>
            <th>Nombre</th>
            <th>Partido Político</th>
            <th>Información</th>
        </thead>
        <tbody>
            {% for task1 in tasks1 %}
            <tr>
                <td>{{task1.id}}</td>
                <td>{{task1.nombre}}</td>
                <td>{{task1.partido}}</td>

                <td>
                    <a href="personaj/{{task1.id}}">Ver más </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
    	<!--paginacion-->
		<ul class=" pagination pagination-sm justify-content-end py-3">
            {% if prev_url %}
			<li class="page-item"><a class="page-link btn" href="{{prev_url }}" title="Anterior"><i class="fas fa-chevron-left"></i></a></li>
			{% else %}
        	<li class="page-item"><a class="page-link btn disabled" href="#" title="Anterior"><i class="fas fa-chevron-left"></i></a></li>
			{% endif %}
            {%for page in paginacion.iter_pages() %}
			<li class="page-item"><a class="page-link btn" href="/personajes/{{page}}" title="{{page}}">{{page}}</a></li>
			{% endfor %}

			{% if next_url %}
			<li class="page-item"><a class="page-link btn" href="{{ next_url }}" title="Siguiente"><i class="fas fa-chevron-right"></i></a></li>

			{% endif %}
		</ul>
        <!---->
    </div>
{% endblock %}